In [1]:
#Importing necessary libraries
import pandas as pd
import string 
import nltk

In [2]:
#Importing dataset file- csv format
df = pd.read_csv("./Desktop/BBC News Train.csv")
df

,ArticleId,Text,Category
0,1833,worldcom ex-boss launches defence lawyers defe...,business
1,154,german business confidence slides german busin...,business
2,1101,bbc poll indicates economic gloom citizens in ...,business
3,1976,lifestyle governs mobile choice faster bett...,tech
4,917,enron bosses in $168m payout eighteen former e...,business
...,...,...,...
1485,857,double eviction from big brother model caprice...,entertainment
1486,325,dj double act revamp chart show dj duo jk and ...,entertainment
1487,1590,weak dollar hits reuters revenues at media gro...,business
1488,1587,apple ipod family expands market apple has exp...,tech
1489,538,santy worm makes unwelcome visit thousands of ...,tech

In [3]:
#Checking articles per class
df["Category"].value_counts()

sport            346
business         336
politics         274
entertainment    273
tech             261
Name: Category, dtype: int64

In [4]:
#Text Processing
from nltk import word_tokenize
nltk.download('punkt')
from nltk.corpus import stopwords
nltk.download('stopwords')
stop_words = stopwords.words('english')
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet') 
lemmatizer = WordNetLemmatizer() 

#Function to remove punctuations and stop words, lemmatization and tokenization
def text_processing(text):
    text_p = "".join([char for char in text if char not in string.punctuation])
    words = word_tokenize(text_p)
    filtered_tokens = [word for word in words if word not in stop_words]
    lemmatized_words = [lemmatizer.lemmatize(word) for word in filtered_tokens]
    return lemmatized_words
    
df_text = df["Text"].apply(lambda x: text_processing(x))

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\abhishek\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\abhishek\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\abhishek\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [5]:
df_text.head()

0    [worldcom, exboss, launch, defence, lawyer, de...
1    [german, business, confidence, slide, german, ...
2    [bbc, poll, indicates, economic, gloom, citize...
3    [lifestyle, governs, mobile, choice, faster, b...
4    [enron, boss, 168m, payout, eighteen, former, ...
Name: Text, dtype: object

In [6]:
df_class = df["Category"]
df_class.head()

0    business
1    business
2    business
3        tech
4    business
Name: Category, dtype: object

In [7]:
#Concating the Text and Category Columns(dataframes) to prepare training dataframe or training set
df_train = pd.concat([df_text, df_class], axis = 1)
df_train.head()

                                                Text  Category
0  [worldcom, exboss, launch, defence, lawyer, de...  business
1  [german, business, confidence, slide, german, ...  business
2  [bbc, poll, indicates, economic, gloom, citize...  business
3  [lifestyle, governs, mobile, choice, faster, b...      tech
4  [enron, boss, 168m, payout, eighteen, former, ...  business